body {
    background-color: #dadac6;
    font-family: 'Hind Madurai', sans-serif;
}

.footer {
  	font-weight: 600;
	background-color: unset;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.source-line {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.dot {
  background-repeat: no-repeat;
  background-position: center;
  font-size: 30px;
  color: red;
}

#doc_image {
	max-height: 500px;
	overflow: scroll;
}

.supralinear {
	text-decoration: line-through;
}

.istruzioni {
	text-transform: uppercase;
    font-style: italic;
}

.border {
	border-radius: 10px;
    margin-bottom: 5px;
	background-color: beige;
}